# === IDEs e Editores ===
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# NetBeans & STS
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# BlueJ e J2ME
*.ctxt
.mtj.tmp/

# === Arquivos do Sistema e Ambiente ===
.env
*.log

# === Arquivos de Build e Compilação (Padrão Monorepo) ===
# O '**/' garante que vai ignorar em qualquer subpasta de microsserviço
**/target/
**/build/
*.class

# === Pacotes ===
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# === Maven Wrapper ===
.mvn/wrapper/maven-wrapper.jar

# === Documentação Inútil do Initializr ===
HELP.md

# === Logs de Crash da JVM ===
hs_err_pid*
replay_pid*